body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
	background-attachment: fixed;
}

strong { font-weight: 500; }

a {
	color: #fff;
}
a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 25px;
	font-size: 90px;
    font-weight: 600;
    color: #555;
	text-align:left;
	font-family: 'Roboto', sans-serif;
}

h3 {
	font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

p { color:#FFFFFF;}

.para {
	color:#FFFFFF;
	font-size:25px;
	text-align:left;
}

.nav-inner {
	padding-top: 30px;
	text-align: left;
}


::-moz-selection { background: #19b9e7; color: #fff; text-shadow: none; }
::selection { background: #19b9e7; color: #fff; text-shadow: none; }

.btn-link-1 {
	display: inline-block;
	height: 60px;
	width: 60px;
	margin: 2px;
	padding: 20px 10px 10px 10px;
	background: #19b9e7;
	font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; opacity: 0.6; color: #fff; }

.btn-yellow{
	background:#FCC11A;
	color:#000000;
}

.btn-link-1.btn-link-1-facebook { background: #3b5998; border-radius: 360px;}
.btn-link-1.btn-link-1-twitter { background: #33CCFF; border-radius: 360px;}
.btn-link-1.btn-link-1-google-plus { background: #C63D2D; border-radius: 360px;}
.btn-link-1.btn-link-1-linkedin { background: #4875B4; border-radius: 360px;}

.btn-link-1 i {
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

/***** Top content *****/

.inner-bg {
    padding: 60px 0 80px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 { color: #fff; }

.top-content .description {
	margin: 15px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
	color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
	margin-top: 25px;
}

.form-top {
	overflow: hidden;
	padding: 0px 20px 0px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #fff; }
.form-top-left p { opacity: 1; color: #fff; }

.form-bottom {
	padding: 20px;
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.social-login {
	margin-top: 15px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 15px;
}

.middle-border {
	min-height: 350px;
	margin-top: 80px;
	border-right: 1px solid #fff;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
}


/***** Footer *****/

footer {
	padding-bottom: 10px;
	color: #fff;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 25px;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

footer p { opacity: 0.8; }

footer a {
	color: #fff;
}
footer a:hover, footer a:focus { color: #fff; border-bottom: 1px dotted #fff; }


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 993px) {
	
	.middle-border { min-height: auto; margin: 65px 30px 0 30px; border-right: 0; 
						border-top: 1px solid #fff; border-top: 1px solid rgba(255, 255, 255, 0.6); }

	.nav-inner {
		padding-top: 30px;
		text-align: center;
	}
	
}

@media (max-width: 490px) {
	
	h1, h2 { font-size: 32px; }

}

/* --- Pre Loader --- */

/* .no-js #loader { display: none;  }*/
/*.js #loader { display: block; position: absolute; left: 100px; top: 0; }*/
.preloader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/spin.gif) center no-repeat #fff;
        background-color: #ecf0f5;      
}